@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    margin: 0;
    padding: 0;
}

p{
    font-size: large;
    font-family: "Roboto", sans-serif;
}

h1{
    font-size: 68px;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    margin: 0;
}

h2{
    font-size: 50px;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
}

h3{
    font-size: 32px;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
}

h4{
    font-size: 24px;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
}

.spacing{
    margin-bottom: 45px;    
}

.sticky_nav{
    border-bottom: 1px solid #D8D8D8;
    position: sticky;
    top: 0;
    background-color: #F5F9FF;
    z-index: 100;
}

img{
    width: 100%;
}

.sm-heading{
    font-size: 36px;
}

.banner{
    padding-top: 50px ;
}

.banner h3{
    margin: 0;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
}

.banner_footer{
    border-right: 1px solid #A30D33;
}

.line1{
    width: 38%;
    margin-bottom: 20px;
}

.content{
    padding-top: 30px;
}

.content_text{
    padding: 0 115px;
    margin-top: 25px;
}

.content_text p{
    margin-bottom: 40px;
}

.content h2{
    position: relative;
}

.content .col-12 h2 img{
    position: absolute;
    top: -37%;
    width: 47%;
    left: 25%;
    z-index: -5;
}

.about_section h2{
    margin-bottom: 35px;
}

.about_section p{
    margin-bottom: 30px;
}

.span_heading{
    color: #A30D33;
    position: relative;
}

.span_heading img{
    position: absolute;
    width: 108%;
    right: -4%;
    bottom: -16%;
}

.study_sec{
    background-color: #A30D33;
}

.study_sec img{
    width: 70%;
}

.study_sec h2{
    color: white;
    margin-bottom: 22px;
}

.study_sec p{
    color: white;
    padding-right: 20px;
}

.flex_content{
    padding-top: 10px;
}

.flex_content_items{
    height: 100%;
    padding: 22px 15px;
    box-shadow: 0 4px 20px #ff040426;
}

.flex_content_items p{
    margin-bottom: 0;
    font-size: 16px;
    padding-right: 13px;
}

.flex_content_items h4{
    position: relative;
}

.flex_content h2{
    margin-bottom: 2rem !important;
}

.flex_content_items h4::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    left: 0;
    top: -4px;
    background-color: #A30D33;
}

.my_container h2{
    margin-bottom: 20px;
    padding-right: 200px;
}

.my_container .row .relate{
    position: relative;
}

.image1{
    padding-left: 50px;
}

.image1 .pic{
    position: absolute;
}

.startup_sec{
    padding: 80px 0;
    position: relative;
}

.startup_sec::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 80%;
    background-color: #F4F4F4;
    top: 0;
    z-index: -2;
}

.image1 .pic::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 20px;
    left: -20px;
    border: 2px solid #A30D33;
    border-radius: 6px;
    z-index: -1;
}

.my_container ul li::marker{
    color: #A30D33;
    font-size: 22px;
}

.dot_pic{
    position: absolute;
    top: -27px;
    right: 0px;
}

.join_sec{
    padding-top: 50px;
    padding-bottom: 10px;
}

.join_sec h2{
    margin-bottom: 35px;
    position: relative;
}

.join_sec h2 img{
    position: absolute;
    top: -25%;
    width: 47%;
    left: 25%;
    z-index: -5;
}

.join_sec p{
    padding: 0 100px;
}

footer{
    background-color: #A30D33;
}

footer .row{
    padding-top: 45px;
    padding-bottom: 16px;
}

footer h3{
    color: white;
    margin-bottom: 16px;
}

footer p{
    color: white;
    padding: 0 61px;
}

footer h4{
    color: white;
}

footer .icons{
    display: inline-block;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: white;
    padding: 6px;
    margin: 10px 15px;
    margin-bottom: 30px;
}

footer i{
    font-size: 30px;
    color: #A30D33;
}

footer a{
    color: white;
}